.histo {
	background: #1e1d1d url(https://jackrugile.com/images/misc/noise-diagonal.png);
	color: white;
	font: 100%/45px 'Helvetica Neue', helvetica, arial, sans-serif;

}

table {
	border-collapse: separate;
	font-size: 22px;
	line-height: 60px;
	text-align: left;
	width: 100%;
}	

th {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(rgb(14, 0, 0), rgb(52, 51, 51));
	border-left: 1px solid rgb(30, 29, 29);
	border-right: 1px solid rgb(65, 64, 64);
	border-top: 1px solid rgb(43, 43, 43);
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 rgb(54, 52, 52);
	color: rgb(213, 207, 207);
  font-weight: bold;
	padding: 15px 40px;
	position: relative;
	text-shadow: 0 1px 0 rgb(78, 72, 72);	
}

th:after {
	/* background: linear-gradient(rgba(181, 36, 36, 0), rgba(216, 26, 26, 0.08)); */
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 45%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid rgb(43, 42, 42);	
	box-shadow: inset 1px 1px 0 rgb(54, 49, 49);
}
/* 
th:last-child {
	box-shadow: inset -1px 1px 0 rgb(44, 41, 41);
} */

td {
	border-right: 1px solid rgb(94, 88, 88);
	border-left: 1px solid #403a3a;
	border-top: 1px solid rgb(72, 66, 66);
	border-bottom: 1px solid #494242;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}



tr:nth-child(odd) td {
	background: #302f2f 
    /* background */
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 rgb(43, 42, 42); 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 rgb(49, 46, 46);
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 rgb(65, 62, 62);
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px rgb(85, 82, 82);
}

tbody:hover tr:hover td {
	color: rgb(12, 241, 8);
	text-shadow: 0 1px 0 rgb(20, 220, 9)
}